# 버전 관리에서 제외할 파일 설정

가장 기본적인 사용 목적은 버전 관리에 포함시키지 않으려는 파일들을 지정하는 것이다.

이를 통해 다음과 같은 파일들을 Git의 추적에서 제외할 수 있다.

- **환경 설정 파일**: `.env`, `config.json`과 같은 중요한 환경 설정 파일
- **빌드 및 컴파일된 파일**: 예를 들어, `dist/`, `build/`, `out/` 폴더 등은 실제 소스 코드가 아니며, 컴파일 또는 빌드 결과로 생성된 파일들입니다. 이 파일들은 Git에 포함할 필요가 없습니다.
- **IDE 설정 파일**: 개발 도구나 IDE(예: Visual Studio Code, IntelliJ 등)의 설정 파일들도 프로젝트에 포함시킬 필요가 없습니다. 예: `.vscode/`, `.idea/`
- **운영체제 관련 파일**: Mac, Windows 등 운영체제에서 자동으로 생성하는 파일들을 제외할 수 있습니다. 예: `.DS_Store`, `Thumbs.db`
- **의존성 파일**: 프로젝트에서 사용한 패키지나 라이브러리의 의존성 파일. 예를 들어, `node_modules/`, `vendor/` 폴더
